POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=food_health
SECRET_KEY=yoursupersecurekey_change_me
VERTEX_AI_PROJECT_ID=dummy-project
VERTEX_AI_LOCATION=us-central1
